.{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.Counter {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f1356d
}
.Counter h2 {
  color: #f1356d;
}

.Counter button {
  color: #f33;
}

